In [6]:
library(stats)
library(factoextra) # fviz_nbclust

### Data

In [1]:
data('USArrests')

In [2]:
df = scale(USArrests)

In [3]:
head(df, 3)

        Murder     Assault   UrbanPop   Rape
Alabama 1.24256408 0.7828393 -0.5209066 -0.003416473
Alaska  0.50786248 1.1068225 -1.2117642  2.484202941
Arizona 0.07163341 1.4788032  0.9989801  1.042878388

### Computing k-means clustering

In [7]:
set.seed(123)
km.res <- kmeans(df, 4, nstart = 25)

we specify nstart = 25. This means that R will try 25 different random
starting assignments and then select the best results corresponding to the one with
the lowest within cluster variation. The default value of nstart in R is one. But, itâ€™s
strongly recommended to compute k-means clustering with a large value of nstart
such as 25 or 50, in order to have a more stable result.

In [8]:
print(km.res)

K-means clustering with 4 clusters of sizes 13, 16, 13, 8

Cluster means:
      Murder    Assault   UrbanPop        Rape
1 -0.9615407 -1.1066010 -0.9301069 -0.96676331
2 -0.4894375 -0.3826001  0.5758298 -0.26165379
3  0.6950701  1.0394414  0.7226370  1.27693964
4  1.4118898  0.8743346 -0.8145211  0.01927104

Clustering vector:
       Alabama         Alaska        Arizona       Arkansas     California
             4              3              3              4              3
      Colorado    Connecticut       Delaware        Florida        Georgia
             3              2              2              3              4
        Hawaii          Idaho       Illinois        Indiana           Iowa
             2              1              3              2              1
        Kansas       Kentucky      Louisiana          Maine       Maryland
             2              1              4              1              3
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
             2              3              1              4              3
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
             1              1              3              1              2
    New Mexico       New York North Carolina   North Dakota           Ohio
             3              3              4              1              2
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
             2              2              2              2              4
  South Dakota      Tennessee          Texas           Utah        Vermont
             1              4              3              2              1
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
             2              2              1              1              2

Within cluster sum of squares by cluster:
[1] 11.952463 16.212213 19.922437  8.316061
 (between_SS / total_SS =  71.2 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [9]:
dd <- cbind(USArrests, cluster = km.res$cluster)

In [10]:
head(dd)

           Murder Assault UrbanPop Rape cluster
Alabama    13.2   236     58       21.2 4
Alaska     10.0   263     48       44.5 3
Arizona     8.1   294     80       31.0 3
Arkansas    8.8   190     50       19.5 4
California  9.0   276     91       40.6 3
Colorado    7.9   204     78       38.7 3